SUPABASE_URL=...
SUPABASE_SERVICE_ROLE_KEY=...
PORT=5000

# Admin / Founder Access (Comma-separated emails)
SUPER_ADMINS=admin1@gmail.com,admin2@gmail.com

# Moderator Access
MODERATORS=mod1@gmail.com

# Email / SMTP Settings
# SMTP_HOST=
# SMTP_PORT=
# SMTP_USER=
# SMTP_PASS=
# FROM_NAME="intrst.in"
# FROM_EMAIL="no-reply@intrst.in"
